#mailToAddress, #mailFromTemplate, #mailSubjectTemplate, #mailBodyTemplate, #slackWebHookUrl, #slackChannels, #branchBlacklist, #branchWhitelist, #notificationTypes {
    max-width: none;
    resize: none;
}

#mailSubjectTemplate {
    height: 85px;
}

#mailBodyTemplate {
    height: 200px;
}

textarea[readonly="readonly"], textarea[readonly] {
    background: #f5f5f5;
    outline: none;
    cursor: not-allowed;
}

.group {
    clear: both;
}

.group .radio, .group .checkbox {
    float: left;
}

.group .radio:last-child, .group .checkbox:last-child {
    margin-left: 1em;
}

.hidden {
    display: none;
    visibility: hidden;
}